---
import Layout from '../layouts/Layout.astro'

import Hero from '../sections/Hero.astro'
import Services from '../sections/Services.astro'
import OurWorks from '../sections/OurWorks.astro'
import Team from '../sections/Team.astro'
---

<Layout title="Edie Web Services">
  <main>
    <Hero />
    <Services />
    <OurWorks />
    <Team />
  </main>
</Layout>
